/* Some resets for compatibility with existing CSS */
#content .date_selector, #content .date_selector * {
	width: auto;
	height: auto;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	}
	
#content .date_selector {
	background: url(/images/adminium/tt.png) 0 0 repeat;
	padding: 10px;
	margin: 0;
	position: absolute;
	z-index: 100000;
	display: none;
	border: 1px solid #000;
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	-moz-box-shadow: inset 0 1px 0 #666;
	-webkit-box-shadow: inset 0 1px 0 #666;
	box-shadow: inset 0 1px 0 #666;
	}
	
#content .date_selector_ieframe {
	position: absolute;
	z-index: 99999;
	display: none;
	}
	
#content .date_selector .nav {
	width: 17.5em; /* 7 * 2.5em */
	color: #fff;
	}

#content .date_selector .nav p {
	clear: none;
	}
	
#content .date_selector .month_nav, #content .date_selector .year_nav {
	margin: 0 0 3px 0;
	padding: 0;
	display: block;
	position: relative;
	text-align: center;
	}
	
#content .date_selector .month_nav {
	float: left;
	width: 55%;
	}
	
#content .date_selector .year_nav {
	float: right;
	width: 42%;
	}
	
#content .date_selector .month_name, #content .date_selector .year_name {
	font-weight: bold;
	line-height: 20px;
	}
	
#content .date_selector .button {
	display: block;
	position: absolute;
	top: 0;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #aaa;
	text-align: center;
	font-size: 12px;
	overflow: hidden;
	}
	
#content .date_selector .button:hover, #content .date_selector .button.hover {;
	color: #fff;
	cursor: pointer;
	}
	
#content .date_selector .prev {
	left: 0;
	}
	
#content .date_selector .next {
	right: 0;
	}
	
#content .date_selector table {
	border-spacing: 0;
	clear: both;
	margin: 0;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	border-left: 1px solid #111;
	border-top: 1px solid #111;
	}

#content .date_selector table thead th {
	background: #222;
	color: #757575;
	}
	
#content .date_selector th, #content .date_selector td {
	width: 2.5em;
	height: 2em;
	padding: 0 !important;
	text-align: center !important;
	color: #fff;
	font-weight: normal;
	}
	
#content .date_selector th {
	font-size: 11px;
	}	
	
#content .date_selector td {
	border-bottom: 1px solid #111;
	border-right: 1px solid #111;
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	line-height: 2em;
	text-align: center;
	white-space: nowrap;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px 0 #000;
	}
	
#content .date_selector td.today {
	background: #202020;
	color: #fff;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	}
	
#content .date_selector td.unselected_month {
	color: #666;
	}
	
#content .date_selector td.selectable_day {
	cursor: pointer;
	}
	
#content .date_selector td.selected {
	color: #3aaef7;
	}
	
#content .date_selector td.selectable_day:hover, #content .date_selector td.selectable_day.hover {
	background: #008ee8;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	border-left: 1px solid #222;
	border-top: 1px solid #222;
	}