/*
Template Name: Adminium Red
*/

body {
	background: #fff url(/images/adminium/sbr.gif) top left repeat-y;
	}

a {
	color: #c71b04;
	}
	
a:hover {
	color: #e64100;
	}
	
aside ul#nav li a {
	border-bottom: 1px solid #cbcbcb;
	color: #666;
	}
	
aside ul#nav li a:hover {
	background: #931f00 url(/images/adminium/mbgr.jpg) 0 0 repeat-x;
	border-top: 1px solid #910e00;
	border-bottom: 1px solid #3b0400;
	text-shadow: 0 1px 0 #470101;
	}
	
aside ul#nav li a span {
	background: #e5e5e5;
	border: 1px solid #bbb;
	}

aside ul#nav li a:hover span {
	background: #811200;
	border: 1px solid #660f00;
	text-shadow: 0 1px 0 #000;
	
	box-shadow: 0 1px 0 #c22d0a;
	-moz-box-shadow: 0 1px 0 #c22d0a;
	-webkit-box-shadow: 0 1px 0 #c22d0a;
	}
	
aside ul#nav li ul {
	background: #e5e5e5;
	border-bottom: 1px solid #d1d1d1;
	}
	
aside ul#nav li ul li a:hover {
	color: #b01d00;
	}
	
aside .status_box ul {
	background: #e5e5e5;
	border: 1px solid #cdcdcd;
	}
	
aside .status_box ul li a {
	color: #757575;
	}

#content .breadcrumb a:hover {
	color: #c01e03;
	}
	
#content .table_pagination a.active {
	border: 1px solid #cb2105;
	}

#content .table_pagination a:hover {
	color: #fff;
	background: #da2305;
	border: 1px solid #9b1200;
	}
	
#content form input.submit,	
#content .tableactions input.submit,
#content form .custom_file input.button {
	border: 1px solid #470b01;
	background: #a41700 url(/images/adminium/mbgr.jpg) center repeat-x;
	
	-moz-box-shadow: inset 0 1px 0 #e66157;
	-webkit-box-shadow: inset 0 1px 0 #e66157;
	box-shadow: inset 0 1px 0 #e66157;	
	}

#content .date_selector td.selected {
	color: #db3e2e;
	}
	
#content .date_selector td.selectable_day:hover, #content .date_selector td.selectable_day.hover {
	background: #bf1600;
	}
	
.loginpage {
	background: #f9f9f9;
	}
	
#content.loginbox {
	border: 1px solid #bbb;
	}
	
.ui-slider .ui-slider-range {
	background: #d2330d;
	
	-moz-box-shadow: inset 0 0 3px #490e00;
	-webkit-box-shadow: inset 0 0 3px #490e00;
	box-shadow: inset 0 0 3px #490e00;
	}