div.mda_div {
	margin:1em 0;
}
div.mda_div p {
	padding-left: 10px;
}
div.mda_list {
    margin:1em 0;
    padding-top: 10px;
    background:url(/images/form1/form_top.gif) no-repeat 0 0;
}
div.mda_list p {
    padding-left: 10px;
}

div.mda_list p.end {
    clear: both;
    background: url(/images/form1/form_bottom.gif) no-repeat 0 100%;
    padding: 0 25px 20px 25px;
    margin: 0;
    text-align: right;
}

div.mda_list table {
    margin-left: 10px;
    width:580px;
    text-align: center;
}

div.mda_list table tr:odd {
    background-color: #efefff;
}
div.mda_list table th {
    background-color: #9f9fcf;
}
div.mda_list table td + td {
    text-align: left;
}
div.mda_list table td {
    vertical-align: middle;
    padding: 5px;
}

.mda_form {
	margin:1em 0;
	padding-top:10px;
	background:url(/images/form1/form_top.gif) no-repeat 0 0;
}

.mda_form fieldset {
    margin: 0;
    padding: 0;
    border: none;	
    float: left;
    display: inline;
    width: 260px;
    margin-left: 25px;
}

.mda_form legend {
    display: none;
}	
.mda_form p {
    margin: .5em 0;
}

.mda_form label {
    display: block;
}	
.mda_form input, .mda_form textarea {
    width: 252px;
    border: 1px solid #ddd;
    background: #fff url(/images/form1/form_input.gif) repeat-x;
    padding: 3px;
}		
.mda_form textarea {
    height: 125px;
    overflow: auto;
}					
.mda_form p.submit {
    clear: both;
    background: url(/images/form1/form_bottom.gif) no-repeat 0 100%;
    padding: 0 25px 20px 25px;
    margin: 0;
    text-align: right;
}

.mda_form button {
    width: 150px;
    height: 37px;
    line-height: 37px;		
    border: none;
    background: url(/images/form1/form_button.gif) no-repeat 0 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.mda_list span.button {
    width: 150px;
    height: 37px;
    line-height: 37px;
    border: none;
    display:block;
    background: url(/images/form1/form_button.gif) no-repeat 0 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.mda_list span.button a {
    text-decoration: none;
    color: #fff;
}

div.error {
    color: red;
    font-size: smaller;
}