body {
    background: url('/images/body-back.jpg');
}
.snow_wrap {
    background-image: url('/images/snow1.png'), url('/images/snow2.png'), url('/images/snow3.png');
    -webkit-animation:snow 10s linear infinite;
	-moz-animation:snow 10s linear infinite;
	-o-animation:snow 10s linear infinite;
	-ms-animation:snow 10s linear infinite;
	animation:snow 10s linear infinite 0s
}

@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 50% {background-color:#b4cfe0;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
 
@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

.container_12 {
    
}
.article p {
    font-size: medium;
}
.header {
    padding:0px;
/*    height: 489px; */
    width: 100%; /* 1280px; */
    background: url('/images/header2.png') top center no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-repeat:no-repeat;
    overflow:hidden;
}
.header ul.main_menu {
    list-style: none;
    position: relative;
    float:left;
    display: block;
    left: 50%;
}
.header ul.main_menu li {
    position: relative;
    float:left;
    display:block;
    right: 50%;
    margin-left:20px;
}
.header ul.main_menu li.active {
    background: url('/images/menu_underline.png') center bottom no-repeat;
}

.header ul.main_menu li:hover {
    background: url('/images/menu_underline.png') center bottom no-repeat;
}
.footer{
    height: 439px;
    /* width: 1280px; */
    background: url('/images/bg_footer.png') center no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.content {
    background: url('/images/bg_content2.png') center repeat-y;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*
*  menu
*/
.menu {
    margin-top: 12px;
    height:80px;   
}
#centered_menu ul {
    list-style:none;
    
}
#centered_menu ul li {
    display:inline;
    vertical-align: top;
    float:left;
}

#centered_menu ul li.active {
    background: url('/images/menu_underline.png') center bottom no-repeat;
}

#centered_menu ul li:hover {
    background: url('/images/menu_underline.png') center bottom no-repeat;
} 
.menu_li div {
    position:absolute;
    z-index:1000;
    margin-top:10px;
    
    margin-left: auto;
    margin-right: auto;

    /*top:10px;
    left:50px;
    /*height:39px;
    width:283px;
    background: url('') center bottom no-repeat;*/
}
div.menu_li {
    display: table-cell;
    vertical-align: bottom;
    height: 41px;
    position:relative;
}
.menu_li img {
    vertical-align: bottom;
}

/*
 * end menu
 **/
.gallery_item_desc {
    margin-left: 231px;
}
.gallery_item_desc p {
    margin-bottom: 5px;
    padding-top: 0;
    padding-left: 10px;
    font-size: 14px;
}
.gallery_item_desc span {
    color:red;
}
.gallery_item {
    margin-bottom: 10px;
}
.gallery_item p {
    font-size: 14px;
    font-weight: bold;
}
.gallery_item a {
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.gallery_item a:visited {
    color: black;
}
.gallery_item input[type=number] {
    width:25px;
    float:left;
}
.search_item {
    font-size:14px;
    font-weight: bold;
}
.search_item a{
    color: black;
}
.search_item a:visited {
    color: black;
}

.header_imgs {
    vertical-align: middle;
}
.header_imgs .input {
    padding:left;
}

.header_input {
    color: black;
    height: 24px;
    width: 232px;
    padding: 3px 5px 3px 5px;
    margin-right:20px;
    border-style: none;
    background: url('/images/main_input.png');
    font-family: courier new;
    font-size: 14px;

}

/*
 * Cart
 */

.cart_item {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart_item p {
    margin-bottom: 5px;
    padding-top: 0;
    padding-left: 10px;
    font-size: 18px;
}
.cart_item span {
    color:red;
}

#cart_input {
    font-size: 16px; color:#000; font-style:italic;  text-decoration:none; border-bottom:1px dashed #ba0000;
}
/*
 * main
 */
#register {
    /*border-left: 1px dashed brown;*/
    width:644px;
}
/*.main_input {
    color: black;
    height: 24px;
    width: 232px;
    padding: 3px 5px 3px 5px;
    border-style: none;
    background: url('/images/main_input.png');
    font-family: courier new;
    font-size: 14px;    
}*/
.main_form label {
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.main_form p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.red {
    color: red;
}
span.red {
    font-weight: bold;
}
.error_msg {
    display:block;
    margin-left:15px;
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
}
.main_input {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 7px;
	border: 1px solid #bbb;
	outline: none;
	vertical-align: middle;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.error {
    border-color: red;
}

.gal_submit {
    background: url("/images/adminium/mbgr.jpg") repeat-x scroll center center #A41700;
    border: 1px solid #470B01;
    box-shadow: 0 1px 0 #E66157 inset;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    text-shadow: 0 1px 0 #000000;
    vertical-align: middle;
}

/* HUD Messages */

.hudmsg {
	width: 160px;
	padding: 20px;
	color: #eee;
	background: url(/images/tt.png) 0 0 repeat;
	background: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	position: fixed;
	bottom: 40px;
	left: 50%;
	margin-left: -100px;
	z-index: 1000;
	text-shadow: 0 1px 1px #000;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	}

.hudmsg img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	}
.info_message {
    color          : #eee;
    font-weight    : bold;
	text-align     : center;
	font-size      : 14px;
    text-shadow    : 0 1px 1px #000;
    padding-top    : 5px;
    padding-bottom : 5px;
    cursor         : pointer;
}
.info_message span {
    background            : url(/images/tt.png) 0 0 repeat;
	background            : rgba(0, 0, 0, 0.7);
    border-radius         : 15px;
	-moz-border-radius    : 15px;
	-webkit-border-radius : 15px;
    padding               : 10px;
}
.cart_item form.cart {
    float: left;
    margin-right: 5px;
    padding-left: 10px;
}
.approved {
    background: url(/images/approved.png) 70px 70px no-repeat;
}
.catlist .gallery_item {
    padding-bottom: 50px;
}

.header_top {
    height: 333px;
}
.header_top div {
    height: 100%;
    float:left;
}
.header_top a {
    padding-top:173px;
    height:120px;
    width:100%;
    display:block
}
.medals_cont {
    width:33%;
    float:left;
    background:url(/images/medals.png) no-repeat top left;    
}

#clock {
    position: relative;
    width: 180px;
    height: 181px;
/*    margin: 100px 180px 0 auto;*/
    top: 145px;
    left: 100px;
    background: url(/images/clock/clock_face.png);
    list-style: none ;
}

#sec, #min, #hour {
    position : absolute;
    width    : 10px;
    height   : 181px;
    top      : 0px;
    left     : 56px;
}

#sec {
    background : url(/images/clock/sec.png);
    z-index    : 3;
}

#min {
    background : url(/images/clock/min.png);
    z-index    : 2;
}

#hour {
    background : url(/images/clock/hour.png);
    z-index    : 1;
}


.new_phone {
    width       : 260px;
    font-size   : 20px;
    margin-top  : 180px;
    float       : right !important;
    text-align  : center;
    color       : #901218;
    font-style  : italic;
}

.new_phone span {
    font-size   : 26px;
    font-weight : bold;
    font-style  : normal; 
}

.pagination a {
    text-decoration : none;
    font-family     : 'Sonsie One', cursive;
    font-size       : 20px;
}
.pagination a span {
    font-size : 24px;
}
.pagination a:link {
    color : #901218;
}
.pagination a:visited {
    color : #901218;
}

.breadcrumbs span {
    margin-left : 20px;
}

img.tag { position:absolute; display:block; z-index:99; }