/* Page Elements */
	body {
		font-family:		helv, arial, verdana, sans-serif;
		font-size:			66%;
		color:				#1E1903;
		background:			#ffffff url(pagebg.gif) repeat-y center center;
		margin:				0;
		padding:			0;
	}
	#content {
		position:			relative;
		width:				761px;
		margin:				0 auto;
		padding:			0;
		background:			transparent url(contentbg.gif) repeat-y top left;
	}
	#footer {
		position:			relative;
		width:				761px;
		margin:				0 auto;
		padding:			0;
		margin-top:			-20px;
		line-height:		80px;
		color:				#493F0B;
		height:				100px;
		text-align:			center;
		background:			transparent url(footerbg.gif) repeat-y top left;
	}	
	#content form {
		margin-left:		30px;
		margin-right:		30px;
	}
	h1 {
		padding:			0;
		margin:				0;
		positon:			relative;
		height:				134px;
		line-height:		134px;
		text-indent:		30px;
		background:			transparent url(headbg.gif) no-repeat bottom left;
		font-size:			2.5em;
		font-weight:		300;
	}
	
		
/* End Page Elements */

/* Begin Form Elements */

