@font-face {
    font-family: 'Montserrat';
    src:         url('/v4/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/v4/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/v4/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 105px;
}
@media ( max-width: 1200px ) {
    body {
        margin-bottom: 140px;
    }
}
@media ( max-width: 768px ) {
    body {
        margin-bottom: 290px;
    }
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bg-minpod {
    background: #EFDDB9;
}

.font-weight-medium {
    font-weight: 500;
}

/* Button */
.btn {
    text-transform: uppercase;
    font-weight:    bold;
    border-radius:  0px;    
}
.btn-small {
    background-color: #AF7C56;
    padding: 0.4rem;
    color: #ffffff !important;
    font-size: 0.85rem;
    white-space: normal;
}

.btn-main {
    background:     #AF7C56;
    color:          #ffffff !important;
    font-size:      0.85rem;
    padding:        1rem 3rem;
}
.btn-add {
    background: #AF7C56;
    color:      #ffffff !important;
    font-size:  0.85rem;
    padding:    0.5rem 2rem;
}
.btn-block {
    margin: 0;
}
.btn-reverse-square {
    color: #ffffff;
    border: 0px;
    font-size: 0.80rem;
}
.btn-reverse {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 1rem 3rem;
}
.btn-reverse-white {
    color: #AF7C56;
    background: #ffffff;
    border: 0px solid #ffffff;
    padding: 1rem 1.5rem;
}
.btn-reverse-white:hover {
    background: #AF7C56;
    color: #ffffff;
}

/*
**
*/
.product-info-main input {
    height: 100%;
    border-radius: 0;
    border: 1px solid #AF7C56;
    padding: 1rem 0.75rem;
    font-size: 1rem;
}

.product-info {
    border: 1px solid #AF7C56;
}
.product-info input {
    border-radius: 0;
    border: 0;
    font-size: 1rem;
}
.product-info .btn {
    background: #ffffff;
    border-left: 1px solid #AF7C56;
    color: #AF7C56;
}
.product-info .btn:hover {
    background: #AF7C56;
    color: #ffffff;
}
.card-add-form {
    padding:1.25rem;
}

/* Nav bar */
.top_navbar {
    flex-wrap: nowrap;
}
.top_navbar ul {
    list-style : none;
    padding-left: 0;
}
.top_navbar div ul li a {
    text-transform: uppercase;
    color:          #494949;
    font-size:      0.85rem;
}

.main-nav ul li:first-child a {
    border-left: 0;
}

.main-nav ul li a {
    padding:     0;
    border-left: 1px solid #C79C77;
}

.main-nav ul li a.active {
    font-weight: bold;
    color: #fff;
}

/*
** Navbar collapse
*/

/* #mobile-navbar.navbar { */
/*     float: none !important; */
/*     overflow: auto !important; */
/*     max-height: 100vh; */
/*     color: #494949; */
/*     font-size: 0.85rem; */
/* } */

#mobile-navbar.navbar a {
    color: #494949;
}
#mobile-navbar ul.dropdown-menu {
    border: 0;
    font-size: 0.85rem;
}
#mobile-navbar.navbar li.active a {
    color: #9A6741;
}
#mobile-navbar.navbar li.show a.dropdown-toggle {
    font-weight: bold;
}
#mobile-navbar.navbar li.show a {
    color: #9A6741 !important;
}
#mobile-navbar .dropdown-item.active {
    font-weight: bold;
    background-color: #fff;
}

/* Address */

.address {
    line-height: 0.5;
}

/* Carousel */
.carousel-img
{
    width: 100%;
    height: 100%;

    min-height: 450px;
    object-fit: cover;
}

.text-brown {
    color: #AF7C56;
}
.text-grey {
    color: #9E9E9E;
}
.text-black {
    color: #000000;
}

.carousel-custom {
    color: #AF7C56;
    font-size: 0.85rem;
    text-transform: uppercase;
    left: unset;
    right: unset;
    transform: translateY( -50% );
    bottom: 0;
    top: 50%;
}
.carousel-custom p {
    font-size: 1rem;
    color: #494949;
}

ol.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #C79C77;
    background-color: #C79C77;
}


/*
* Carousel popular
*/
.carousel-popular {
    font-size: 0.85rem;
}

.carousel-popular .carousel-caption {
    top: 10px;
    color: #9E9E9E;
    text-transform: uppercase;
}
.carousel-popular .carousel-caption h5 {
    color: #AF7C56;
}
.carousel-caption-bottom {
    color: #9E9E9E;
    position: absolute;
    bottom: 30px;
    right: 15%;
    left: 15%;
}
.carousel-popular .carousel-inner {
    margin: 20px;
    background-color: #EFEFF7;
    width: unset;
}
.carousel-popular div .carousel-item {
    height: 100%;
}

/*
** Cart Icon
*/

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #ffffff;
}

.lblCartCount {
    font-size: 0.7rem;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
    background-color: #ffffff;
    color: red;
    font-weight: normal;
}

/*
** Cart
*/

.cart-form-tabs ul {
    border: 1px solid #E7D29E;
}
.cart-form-tabs .nav-link {
    color: #AF7C56;
    height: 100%;
    border-radius: 0;
}
.cart-form-tabs .nav-link.active {
    background-color: #AF7C56;
}

input[type=radio] {
    background-color: #AF7C56;
}

.cart .product {
    border: 1px solid #FAF0DE;
    border-radius : 0;
    font-size: 0.85rem;
}
input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.cart .price {
    font-size: 1rem;
    font-weight: 500;
}
.cart p {
    color: #5A5A5A;
    margin-bottom: 0;
}

.number-input {
    display: inline-flex;
    align-items: flex-start;
}
.number-input,
.number-input * {
  box-sizing: border-box;
}
.number-input input {
    border: 1px solid #E7D29E;
    border-radius: 0;
    text-align: center;
    width: 50px;
    height: 20px;
}

.desc_quantity {
    font-size: 0.85rem;
    line-height: 2.12rem;
    height: unset !important;
}

a.trash {
    display:block;
    cursor: pointer;
    background-color: transparent;
    padding-top: 2px;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0px 6px;
    position: relative;
    background-image: url("/v4/svg/minus.svg");  
}
.number-input button.plus {
    background-image: url("/v4/svg/plus.svg");  
}

/* Categories */
.categories .card {
    border: unset;
}

.categories p.card-text {
    color: #9E9E9E;
}

/* Center placement */

.center-placement {
    
}

/* Popular */

.popular .card {
    background-color: #EFEFF7;
    border: none;
    border-radius: 0px;
}
.popular .card-img-overlay:hover {
    background-color: rgba(175, 124, 86, 0.8);
}

.popular .card h4 {
    color: #9e9e9e;
}
.popular .card:hover h4 {
    color: #AF7C56;
}

.popular .card .cart div {
    visibility: hidden;
    font-weight: bolder;
    text-transform: uppercase;
}

.popular .card:hover .cart div {
    visibility: visible;
    color: #ffffff;
    border-radius: 0px;
}

.popular .card button {
    fill: #ffffff;
}

.popular p.card-text {
    color: #9E9E9E;
}

.popular p.card-text span {
    color: #000000;
    font-weight: bold;
}

/*
** delivery-image
*/

.delivery-image {
    border-width: 37px 0px 0px 37px;
    border-style: solid;
    border-image: url("/v4/images/delivery-img-background.png") 37 0 0 37 stretch;
}
.delivery-image.delivery-image-border-right {
    border-width: 37px 37px 0px 0px;
    border-image: url("/v4/images/delivery-img-background-right.png") 37 37 0 0 stretch;
}

/*
** conditions-jumbotron
*/
.conditions-jumbotron {
    background-image: url("/v4/images/conditions-jumbotron.jpg");
    background-size: cover;
}
.conditions-jumbotron .discounts {
    font-size: 1.375rem;
}
.discount {
    background-color: #AF7C56;
    color: white;
    border-radius : 50px;
    width: 61px;
    height: 61px;
    line-height: 61px;
    display: inline-block;
    border: 2px solid white;
}

/*
** about-jumbotron
*/
.about-jumbotron {
    background-image: url("/v4/images/about-jumbotron.jpg");
    background-size: cover;
}

/* content-footer */

.content-footer {
    background-image: url("/v4/images/footer.png");
    background-size: cover;
    margin: 4rem 0 0 0;

}

.content-footer p {
    text-transform: uppercase;
}

/* footer */

footer {
    padding-top: 1rem;
    background-color: #000000;
    color: #C79C77;
    font-size: 0.8rem;
}

/* sidebar */

@media (min-width: 576px) {
    .sidebar {
        max-width: 320px;
    }
}

.sidebar .menu a {
    color:  #000000;
    line-height: 1.1;
}

.sidebar .menu .nav-link {
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
}

.sidebar .menu .nav-child a {
    font-size: 0.75rem;
}

.sidebar .menu .selected-group a {
    color: #9A6741;
}

.sidebar .menu .selected-cat {
    font-weight: bold;
    color: #9A6741;
}

.sidebar .selected-cat {
    font-weight: bold;
}
                  

/* 
   Catalog 
*/

.catalog div.card {
    border-radius: 0px;
}
.catalog {
    font-size: 0.7rem;
}
.catalog h6 {
    font-size: 0.85rem;
}
.catalog h5 {
    font-size: 0.9rem;
}

.catalog .card-body {
    overflow: hidden;
}
.catalog img.card-img-top {
    border-radius: 0px;
}
.catalog div.card-xga-overlay  {
    opacity: 0;
}
.catalog div.disabled div.card-img-overlay {
    background-color: rgba(49, 49, 49, 0.8);
    opacity: 0.8;
}

.catalog div.card-xga-overlay:hover  {
    background-color: rgba(175, 124, 86, 0.8);
    opacity: 0.8;
}
.catalog .img-wrap {
    position: relative;
}


/*
* ICONS
*/
a.btn-reverse-white:hover span.img-cart-white {
    background: url("/v4/svg/cart_white.svg");
    background-size: cover;
}
span.img-cart-white {
    background: url("/v4/svg/cart.svg");
    background-size: cover;
    display: inline-block; 
    height: 1.3125rem;
    width: 1.5rem;
}

/*
** A 
*/

a {
    color: #AF7C56;
}
a:hover {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: white;
}


/*
*  Tags images
*/ 
.tags {
    position:absolute;
    right:0;
    top:0;
}
img.tag-image {
    padding: 5px;
}
