body {
    /* background: url('http://subtlepatterns.com/patterns/wood_pattern.png') repeat !important; */
    /* background: url('/images/wood-bg2.jpg') repeat; */
    background: url('/images/bg4.jpg') repeat;
}

header {
    background              : url('/images/header_bg_3.png') no-repeat bottom center;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
    height                  : 360px;

}
.head {
    height      : 200px;
    width       : 500px;
    padding-top : 20px;
}

/*header #nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    height : 160px;
    background: url('/images/header_bg_3.png') no-repeat bottom center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}*/
footer {
    height                  : 200px;
    background              : url('/images/footer.png') no-repeat top center;
    color                   : #000;
    text-shadow             : 1px 1px 1px #ffffff;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

/*
 *   Side bar 
 */


/* make sidebar nav vertical */ 
@media (min-width : 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding    : 0;
    max-height : none;
  }
  .sidebar-nav .navbar ul {
    float : none;
  }
  .sidebar-nav .navbar ul:not {
    display : block;
  }
  .sidebar-nav .navbar li {
    float          : none;
    display        : block;
    border-bottom  : 1px solid #d8ccb2; /*#e7e7e7;*/
  }
  .sidebar-nav .navbar li a {
    padding-top    : 12px;
    padding-bottom : 12px;
    width          : 100%;
  }
  .sidebar-nav .navbar li span {
    top      : 12px;
    right    : 10px;
    position : absolute;
  }
}
.sidebar-nav {
/*    background: url('/images/bg.jpg') repeat;*/
}
.navbar-default {
    background: url('/images/bg.jpg') repeat !important;
    /* background: url('http://subtlepatterns.com/patterns/wood_pattern.png') repeat !important; */
    /* background: url('http://subtlepatterns.com/patterns/tileable_wood_texture.png') repeat !important;*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Bread crumbs */
.breadcrumb {
    background: url('/images/bg.jpg') repeat;
    box-shadow: 0 0 10px rgb(0,0,0,0);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* table-custom */
.table-custom {
    background: url('/images/bg.jpg') repeat;
}

/* bootstrap thumbnail image */
.thumbnail {
    background: url('/images/bg.jpg') repeat;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.product-info {
    background : none repeat scroll 0 0 #FFFFFF;
    opacity    : 0.5;
    top        : 0;
    left       : 0;
    position   : absolute;
    width      : 231px;
    height     : 173px;
}

.modal-dialog-custom div {
    background: url('/images/bg.jpg') repeat;
}
.not_in_stock {
    background : url('/images/not_in_stock.png') bottom center #fff;   
    opacity    : 0.4;
    filter     : alpha(opacity=40); /* msie */
}
/* bootstrap btn*/
.btn-custom {
    /*    background  : url("/images/adminium/mbgr.jpg") repeat-x scroll center center #a41700;*/
    background  : #901218;
    color       : #fff;
    font-weight : bold;
    text-shadow : 0 1px 0 #000000;
}
.btn-custom:hover, .btn-custom:focus {
    color : #fff;
    background : #dc2900;        
}
.btn-custom:visited {
    color : #fff;
}
/* bootstrap panel-custom */
.panel-body-custom {
    background: url('/images/bg.jpg') repeat;
}
.panel-heading-custom {
    /*background  : url("/images/adminium/mbgr.jpg") repeat-x scroll center center #a41700;*/
    background  : #901218 !important;
    color       : #fff    !important;
    font-weight : bold;
    text-shadow : 0 1px 0 #000000;
}
/* A HREF */
a {
    color : #777;
}
a:hover, a:focus {
    color           : #000;
    text-decoration : none;
}

.cat_thumb {
    height : 250px;
}
.product_thumb {
    height : 350px;
}