<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
		
	<title>Министерство подарков</title>
	
	<meta name="description" content="." />
	<meta name="keywords" content="." />
	
	<meta name="viewport" content="width=device-width;" />
	
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/responsive.css">
	<link rel="stylesheet" href="/css/visualize.css">
	<link rel="stylesheet" href="/css/date_input.css">
	<link rel="stylesheet" href="/css/jquery.minicolors.css">
	<link rel="stylesheet" href="/css/jquery.wysiwyg.css">
	<link rel="stylesheet" href="/css/jquery.fancybox.css">
	<link rel="stylesheet" href="/css/tipsy.css">
	
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/ie.css">
		<script src="js/html5shiv.js"></script>
	<![endif]-->
	
</head>




<body class="loginpage">


	<header>
	
		<h1><a href="index.html">Министерсво подарков</a></h1>
		
		<a href="http://themeforest.net/item/adminium-modern-admin-panel-interface/851824?ref=enstyled" class="backlink">&laquo; Back to the site</a>
		
	</header>		<!-- header ends -->
	
	
	
	
	
	
	<section id="content" class="loginbox">
		% if (stash('message')) {
		<div class="message info">
			<p>
			%= stash('message');
			</p>
		</div>
		% }			
		<form action="<% url_for('mda_login'); %>" method="post">
			<p>
				<label>Username:</label> <br />
				<input type="text" class="text" value="Admin" />
			</p>
			
			<p>
				<label>Password:</label> <br />
				<input type="password" class="text" value="Password" />
			</p>
			
			<p class="formend">
				<input type="submit" class="submit" value="Login" /> &nbsp; 
				<input type="checkbox" class="checkbox" checked="checked" id="rememberme" /> <label for="rememberme">Remember me</label>
			</p>
		</form>
	</section>		<!-- .loginbox ends -->
	
	
	
	
	
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.8.16/jquery-ui.min.js"></script>
	
	<script type="text/javascript" src="/js/excanvas.js"></script>
	<script type="text/javascript" src="/js/jquery.visualize.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="/js/jquery.date_input.min.js"></script>
	<script type="text/javascript" src="/js/jquery.minicolors.min.js"></script>
	<script type="text/javascript" src="/js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.js"></script>
	<script type="text/javascript" src="/js/jquery.tipsy.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>